rasPi_teams_notification.json
[{"id":"3fe45cf6.717984","type":"inject","z":"16f98c04.7ebf74","name":"Node-RED起動30秒後に一度だけ","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"30","topic":"","payload":"","payloadType":"date","x":360,"y":2000,"wires":[["1e38fed4.28edf1"]]},{"id":"487f0a80.cb6da4","type":"http request","z":"16f98c04.7ebf74","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":2000,"wires":[["7607b841.0ac6a8"]]},{"id":"1e38fed4.28edf1","type":"exec","z":"16f98c04.7ebf74","command":"hostname -I","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":610,"y":2000,"wires":[["bc5d95a9.0970d8"],[],[]]},{"id":"7607b841.0ac6a8","type":"debug","z":"16f98c04.7ebf74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":2000,"wires":[]},{"id":"bc5d95a9.0970d8","type":"template","z":"16f98c04.7ebf74","name":"ip to json","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"text\":\"RasPi No.1 IP : {{payload}}\"}","output":"json","x":760,"y":2000,"wires":[["487f0a80.cb6da4"]]},{"id":"ac6880cc.b927c","type":"comment","z":"16f98c04.7ebf74","name":"↓URLは変更の必要有。","info":"「Microsoft Teams Webhook」\nとかで検索かければ情報出てきます。\n\nTeamsのチャンネルに\n「Incoming Webhook」を構成するとwebhook用のURLを出してくれるのでそれをここに設定します。","x":1000,"y":1960,"wires":[]},{"id":"9f67371f.04ed58","type":"comment","z":"16f98c04.7ebf74","name":"↓文章は適宜変更","info":"お好きなように。","x":800,"y":1960,"wires":[]}]